	.infobox {
	    background-color: lightgrey;
	    width: 50%;
	    margin-left: 24%;
	    border: 1px solid black;
	    text-align: left;
	}

	.generic {
	    margin-right: 1%;
	    margin-left: 1%;
	    font-size: 300%;
	    width: 96%;
	    border: 1px solid black;
	    padding: 5px;
	    text-align: center;
	}
	
	.modules {
	   width: 68%;
	   margin-left: 15%;
	   text-align: left;
	   overflow: auto;
	}
	
	.center {
		width: 50%
		margin-left 25%;
		text-align: center;
	}
	
	.splash {
		margin-left: 18%;
		width: 58%;
		text-align: left;
	}

	
	p {
		display: inline;
	}